ivrflow:
  database: postgresql://ivrflow:secretfoo@postgres/ivrflow
  database_opts:
      min_size: 1
      max_size: 10

  # It defines how much time have to wait an HTTP request or middleware before raise a timeout error,
  # it's important that middlewares will have a time minor to http_request
  # because jwt request shouldn't take much time, and it can stop http_request too much time.
  timeouts:
    http_request: 10 #seconds
    middlewares: 5 #seconds

  # For debugging purposes, it's possible to enable asyncio debug mode.
  enable_asyncio_debug: false

server:
  # The IP and port to listen to.
  hostname: 0.0.0.0
  port: 29600
  # Public base URL where the server is visible.
  public_url: https://example.com
  # The base management API path.
  base_path: /ivrflow

  # The shared secret to sign API access tokens.
  # Set to "generate" to generate and save a new token at startup.
  unshared_secret: generate

logging:
  version: 1
  disable_existing_loggers: true
  formatters:
    verbose:
      format: >
        (%(levelname)s) | %(name)s | [%(asctime)s]:
        'File %(pathname)s:%(lineno)s' - %(funcName)s() | %(message)s
    additional_verbose:
      format: >
        \n\033[1;34m(%(levelname)s) | %(name)s | [%(asctime)s]:
        'File \033[3;38;5;226m"%(pathname)s:%(lineno)s"\033[23;38;5;87m - %(funcName)s()
        \033[1;34mMessage \033[3;38;5;198m"%(message)s"
        \033[23;0;0m'
    colored:
      (): ivrflow.utils.logging_colored.CustomFormatter
  handlers:
    console:
      level: DEBUG
      class: logging.StreamHandler
      formatter: colored
  loggers:
    ivrflow:
      level: DEBUG
      handlers:
        - console
      propagate: true
    aioagi:
      level: DEBUG
      handlers:
        - console
      propagate: false
    py.warnings:
      level: DEBUG
      handlers:
        - console
      propagate: false
    asyncio:
      level: DEBUG
      handlers:
        - console
      propagate: false
